.header {
    width:100%;
    position: fixed;
    top: 0px;
    background-color:getcolor("primary-light");
    z-index: 1;
    
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items:center;
        
        &__brand {
            width: 100%;
            //background-color: grey;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__callToActions {
            display: none;
            //background-color: green;
            display: flex;
            justify-content: space-between;
            white-space: nowrap;
            padding: 5px;
            //margin: 0px;
            // &__getstarted {
            //     padding: 5px
            // }
        }
    }
}

