.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;

    &__text {
        margin-right: 10px;
        font-weight: bold;
    }

    &__wrapper {
        width: 60px;
        height: 25px;
        position: relative;
    
        border: 2px solid getcolor("primary-front");
        border-radius: 15px;
    
        &:hover {
            cursor: pointer;
        }
    }

    &__switch {
        width: 23px;
        height: 23px;

        position: absolute;
        top: 1px;

        border-radius: 50%;

        &--false  {
            background-color: getcolor("red");
            left: 1px;
        }

        &--true  {
            background-color: getcolor("lime");

            transform: translate(36px, 0);
            transition: all .5s ease-in-out;
        }
    }
}