.map {
    position: fixed !important;
    top: 0;
    left: 0;

    &__search-here {
        position: absolute;
        bottom: 32%;
        left: calc(50% - 50px);
        @include flex-center;
    }
}