.nav-icon {
    display:flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap:nowrap;
    width: 30px;
    margin-left:10px;
    margin-right:10px;

    span {
        display: block;
        margin:2px;
        height: 4px;
        width: 100%;
        background-color: map-get($theme-colors, "primary-back");
        border-radius: 10px;
        opacity: 1;
        left: 0;
    }
}
